<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlateMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlateMonitor.Properties.Settings>
            <setting name="cbUpdating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="tbUserName" serializeAs="String">
                <value>tianzhong_live@126.com</value>
            </setting>
            <setting name="tbPassword" serializeAs="String">
                <value>Chs771005</value>
            </setting>
            <setting name="tbEasyMoneyPath" serializeAs="String">
                <value>D:\eastmoney\swc8</value>
            </setting>
        </PlateMonitor.Properties.Settings>
    </userSettings>
</configuration>